<h1>Pending List</h1>
<a href="{% url 'create-task' %}">Create new task</a>
<table>
    <tr>
        <th>Elements</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id %}">Check</a></td>
        <td><a href="{% url 'edit-task' task.id %}">Edit</a></td>
        <td><a href="{% url 'delete-task' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
    <h3>There is no elements in the list!</h3>

    {% endfor %}


</table>